/__pychache__


*.xml


*.idea


*.pyc
# tests/ - revealed test cases
dist/*
rslearn_ml.egg-info/*
.vscode/*

goal.md
testing.py
.venv/*
*.egg-info
.vscode

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example


# temps - usefull while Testing
knnC.py
knnR.py

.continue/

# PR Tasks
tasks.txt

# Project prefix
# Old - .rsl
*.rsl
# for LogisticRegression - .rslc
*.rslc
# For LinearRegression - .rslr
*.rslr
# For Pipeline - .prsl
*.prsl

# Another Tests
test.py